name: banq-development
services:
    database:
        image: postgres:15.3-alpine
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", $DB_DATABASE, "-U", $DB_USERNAME ]
            interval: 1s
            start_period: 10s
        ports:
            - "5432"
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: $DB_DATABASE
            POSTGRES_USER: $DB_USERNAME
            POSTGRES_PASSWORD: $DB_PASSWORD
    pgadmin:
        image: dpage/pgadmin4:7.5
        profiles:
            - pgadmin
        ports:
            - "8080:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@banq.com
            PGADMIN_DEFAULT_PASSWORD: password
    dev:
        image: banq-development-app
        pull_policy: never
        depends_on:
            init:
                condition: service_completed_successfully
        healthcheck:
            test: [ "CMD", "php-fpm-healthcheck" ]
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes: &volumes
            - '.:/var/www/html'
    init:
        image: banq-development-app
        pull_policy: never
        volumes: *volumes
        command: /bin/sh -c "composer install && php artisan migrate"
    web:
        image: banq-development-web
        pull_policy: never
        healthcheck:
            test: [ "CMD", "curl", "--fail", "--silent", "--output", "/dev/null", "http://localhost/status" ]
        volumes: *volumes
        ports:
            - "80:80"
        environment:
            FPM_URL: dev
            FPM_PORT: 9000

    testing:
        image: banq-testing
        pull_policy: never
        profiles:
            - testing
        depends_on:
            database:
                condition: service_healthy
        secrets:
            -   source: env_file
                target: /var/www/html/.env
        environment:
            APP_ENV: testing
            APP_KEY: base64:2bUUbbptoA/6QgCf/FihBkPS8LyE8spxS74YIEYu+UQ=

volumes:
    database: { }

secrets:
    env_file:
        file: .env
