name: banq-development
services:
    database:
        image: postgres:15.1-alpine
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", $DB_DATABASE, "-U", $DB_USERNAME ]
            interval: 1s
            start_period: 10s
        ports:
            - "5432"
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: $DB_DATABASE
            POSTGRES_USER: $DB_USERNAME
            POSTGRES_PASSWORD: $DB_PASSWORD

    app:
        image: ghcr.io/thegardenboys/banq-backend-app:development
        healthcheck:
            test: [ "CMD-SHELL", "netstat", "-ltn", "|", "grep", "-c", "9000" ]
            interval: 1s
            start_period: 5s
        depends_on:
            database:
                condition: service_healthy
        volumes:
            - '.:/var/www/html'

    web:
        image: ghcr.io/thegardenboys/banq-backend-web:development
        healthcheck:
            interval: 1s
            start_period: 5s
        depends_on:
            app:
                condition: service_healthy
        volumes:
            - '.:/var/www/html'
        ports:
            - "80"
        environment:
            APP_DOMAIN: localhost
            FPM_URL: app
            FPM_PORT: 9000

    testing:
        image: ${TESTING_IMAGE:-ghcr.io/thegardenboys/banq-backend-app:testing}
        profiles:
            - testing
        depends_on:
            database:
                condition: service_healthy
        secrets:
            -   source: env_file
                target: /var/www/html/.env
        environment:
            APP_ENV: testing
            APP_KEY: base64:2bUUbbptoA/6QgCf/FihBkPS8LyE8spxS74YIEYu+UQ=

volumes:
    database: { }

secrets:
    env_file:
        file: .env
