services:
    database:
        image: postgres:16.7-alpine
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U root" ]
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: password
            POSTGRES_DB: banq
    app:
        build:
            dockerfile: containers/php/Dockerfile
            target: development
            args:
                UID: ${UID:-1000}
                GID: ${GID:-1000}
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes: &app-volumes
            - .:/var/www/html
    web:
        build:
            dockerfile: containers/nginx/Dockerfile
        volumes: *app-volumes
        ports:
            - "80:80"
        environment:
            FPM_URL: app
            FPM_PORT: 9000

    testing:
        profiles:
            - testing
        depends_on:
            database:
                condition: service_healthy
        build:
            dockerfile: containers/php/Dockerfile
            target: testing
            x-bake:
                cache-from: type=gha,scope=testing
                cache-to: type=gha,mode=max,scope=testing

volumes:
    database: { }
