name: banq-development
services:
    database:
        image: postgres:15.4-alpine
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", $DB_DATABASE, "-U", $DB_USERNAME ]
            interval: 1s
            start_period: 10s
        ports:
            - "5432"
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: $DB_DATABASE
            POSTGRES_USER: $DB_USERNAME
            POSTGRES_PASSWORD: $DB_PASSWORD
    pgadmin:
        image: dpage/pgadmin4:7.8
        profiles:
            - pgadmin
        ports:
            - "8080:80"
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@banq.com
            PGADMIN_DEFAULT_PASSWORD: password
    dev:
        pull_policy: never
        build: &dev-build
            dockerfile: containers/php/Dockerfile
            target: development
            args:
                UID: ${UID:-1000}
                GID: ${GID:-1000}
            tags:
                - banq-development-dev
        hostname: dev
        depends_on:
            - database
        healthcheck:
            test: [ "CMD", "php-fpm-healthcheck" ]
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes: &volumes
            - .:/var/www/html
            - home:/home/www-data
    web:
        pull_policy: never
        build:
            dockerfile: containers/nginx/Dockerfile
            tags:
                - banq-development-web
        healthcheck:
            test: [ "CMD", "curl", "--fail", "--silent", "--output", "/dev/null", "http://localhost/status" ]
        depends_on:
            - dev
        volumes: *volumes
        ports:
            - "80:80"
        environment:
            FPM_URL: dev
            FPM_PORT: 9000

    testing:
        pull_policy: never
        build:
            <<: *dev-build
            target: testing
            tags:
                - banq-development-testing
        profiles:
            - testing
        depends_on:
            database:
                condition: service_healthy
        secrets:
            -   source: env_file
                target: /var/www/html/.env
        environment:
            APP_ENV: testing
            APP_KEY: base64:2bUUbbptoA/6QgCf/FihBkPS8LyE8spxS74YIEYu+UQ=

volumes:
    database: { }
    home: { }

secrets:
    env_file:
        file: .env
