name: banq-prod
services:
    database:
        image: postgres:15.6-alpine
        restart: unless-stopped
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", $DB_DATABASE, "-U", $DB_USERNAME ]
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: $DB_DATABASE
            POSTGRES_USER: $DB_USERNAME
            POSTGRES_PASSWORD: $DB_PASSWORD
    app:
        image: ghcr.io/thegardenboys/banq-backend-app:latest
        restart: unless-stopped
        volumes:
            - bootstrap:/var/www/html/bootstrap
            - storage:/var/www/html/storage
        env_file: .env
    web:
        image: ghcr.io/thegardenboys/banq-backend-web:latest
        restart: unless-stopped
        environment:
            FPM_URL: app
            FPM_PORT: 9000

volumes:
    bootstrap: { }
    storage: { }
    database: { }
