name: banq-prod
services:
    database:
        image: postgres:15.6-alpine
        restart: unless-stopped
        healthcheck:
            test: [ "CMD", "pg_isready", "-q", "-d", $DB_DATABASE, "-U", $DB_USERNAME ]
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: $DB_DATABASE
            POSTGRES_USER: $DB_USERNAME
            POSTGRES_PASSWORD: $DB_PASSWORD
    setup:
        image: ghcr.io/thegardenboys/banq-backend-app:latest
        volumes:
            - bootstrap:/var/www/html/bootstrap
            - storage:/var/www/html/storage
        env_file: .env
        command: [ "setup" ]
    app:
        image: ghcr.io/thegardenboys/banq-backend-app:latest
        restart: unless-stopped
        depends_on:
            setup:
                condition: service_completed_successfully
        healthcheck:
            test: [ "CMD", "php-fpm-healthcheck" ]
        volumes:
            - bootstrap:/var/www/html/bootstrap
            - storage:/var/www/html/storage
        env_file: .env
    web:
        image: ghcr.io/thegardenboys/banq-backend-web:latest
        restart: unless-stopped
        healthcheck:
            test: [ "CMD", "curl", "--fail", "--silent", "--output", "/dev/null", "http://localhost/status" ]
        ports:
            - "80"
        environment:
            FPM_URL: app
            FPM_PORT: 9000

volumes:
    bootstrap: { }
    storage: { }
    database: { }
