name: Builds

on:
  schedule:
    - cron: "0 5 * * 1"
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  images:
    name: Build production images
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup buildx
        uses: docker/setup-buildx-action@v2

      - name: Generate app tags
        uses: docker/metadata-action@v4
        id: app-tags
        with:
          bake-target: app-production
          images: |
            ghcr.io/${{ github.repository }}-app
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/0.') }}

      - name: Generate cache-from app tags
        uses: docker/metadata-action@v4
        id: app-cache-from
        with:
          images: |
            ghcr.io/${{ github.repository }}-app
          tags: |
            type=raw,value=${{ github.event.repository.default_branch }}
            type=ref,event=branch
          flavor:
            suffix=-cache
          sep-tags: ","

      - name: Generate cache-to app tags
        uses: docker/metadata-action@v4
        id: app-cache-to
        with:
          images: |
            ghcr.io/${{ github.repository }}-app
          tags: |
            type=ref,event=branch
          flavor:
            suffix=-cache
          sep-tags: ","

      - name: Generate web tags
        uses: docker/metadata-action@v4
        id: web-tags
        with:
          bake-target: web-production
          images: |
            ghcr.io/${{ github.repository }}-web
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/0.') }}

      - name: Generate cache-from web tags
        uses: docker/metadata-action@v4
        id: web-cache-from
        with:
          images: |
            ghcr.io/${{ github.repository }}-web
          tags: |
            type=raw,value=${{ github.event.repository.default_branch }}
            type=ref,event=branch
          flavor:
            suffix=-cache
          sep-tags: ","

      - name: Generate cache-to web tags
        uses: docker/metadata-action@v4
        id: web-cache-to
        with:
          images: |
            ghcr.io/${{ github.repository }}-web
          tags: |
            type=ref,event=branch
          flavor:
            suffix=-cache
          sep-tags: ","

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and Push Images
        uses: docker/bake-action@v4.1.0
        with:
          targets: production
          files: |
            ./docker-bake.hcl
            ${{ steps.app-tags.outputs.bake-file }}
            ${{ steps.web-tags.outputs.bake-file }}
          set: |
            app-production.cache-from=${{ steps.app-cache-from.outputs.tags }}
            app-production.cache-to=type=registry,ref=${{ steps.app-cache-to.outputs.tags }},mode=max
            web-production.cache-from=${{ steps.web-cache-from.outputs.tags }}
            web-production.cache-to=type=registry,ref=${{ steps.web-cache-to.outputs.tags }},mode=max
          push: true
