name: Tests

on:
  pull_request:
  push:
    branches:
      - "renovate/**"
  workflow_call:

permissions:
  contents: read
  packages: read

jobs:
  app:
    name: Test application
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup buildx
        uses: docker/setup-buildx-action@v2

      - name: Generate cache tags
        uses: docker/metadata-action@v5
        id: testing-cache
        with:
          images: |
            ghcr.io/${{ github.repository }}-app
          tags: |
            type=raw,value=${{ github.event.repository.default_branch }}
            type=ref,event=branch
            type=raw,value=${{ github.base_ref }}
            type=raw,value=${{ github.head_ref }}
          flavor: |
            suffix=-cache
          sep-tags: ","

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build testing target
        uses: docker/bake-action@v4
        with:
          targets: testing
          set: |
            *.cache-from=${{ steps.testing-cache.outputs.tags }}

      - name: Run testing
        run: |
          cp .env.example .env
          docker compose run --rm testing
