name: Tests

on:
  pull_request:
    branches-ignore:
      - "renovate/**"
  push:
    branches:
      - "renovate/**"
  workflow_call:

permissions:
  contents: read
  packages: read

jobs:
  app:
    name: Test application
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build image
        uses: docker/bake-action@v5.3.0
        with:
          targets: testing
          files: |
            ./docker-compose.testing.yml
          load: true
      - name: Run tests
        run: docker compose -f docker-compose.testing.yml run testing
